@media (max-width: 1250px)
  .container
    max-width: 1100px
    width: 92%
  .main
    &-article
      padding-right: 50px
  .articles
    &-useful
      &__item
        padding: 0 18px
      &__image
        width: 45px
        height: 45px
        margin-left: 8px
  .research
    &-wrapper
      max-width: 746px
    &__title
      font-size: 32px
  .news
    &-item
      &__image
        min-width: 40%
  .footer
    &__list
      width: 16.6%
  .content
    &-author
      right: 37px
    &__card
      right: 37px
      top: 1800px
  .recommendation
    width: 24%
@media (max-width: 1040px)
  .container
    max-width: 860px
  .logo
    width: 140px
  .navbar
    &__button
      max-width: 200px
      font-size: 12px
    &-menu
      &__link
        font-size: 12px
  .articles
    &-useful
      flex-wrap: wrap
      width: calc(100%+50px)
      padding: 0 55px 25px
      &__item
        justify-content: space-between
        padding: 0 17px
        min-width: 300px
        margin-left: 0
        margin-top: 17px
        width: calc(50%-50px)
        width: 46%
        &:nth-child(2n)
          border-right: none
      &__image
        margin-left: 17px
    &-list
      grid-template-columns: repeat(3, 1fr)
  .article
    &-tags
      grid-column-start: 3
    &-minimal
      grid-column-start: 1
      grid-row: 3 4
    &--move
      grid-row: 3
      grid-column: 2
    &-socials
      grid-column: span 3
      display: flex
      justify-content: space-evenly
      align-items: center
      &__title
        margin-bottom: 0
      &__block
        width: 300px
        margin-right: 0
        margin-left: 0
  .news
    &-wrapper
      grid-template-columns: 1fr
    &-actuals
      &__list
        display: flex
        flex-wrap: wrap
        justify-content: space-evenly
      &__item
        width: 30%
        &--desktop-hidden
          display: none
  .advices
    &-wrapper
      grid-template-columns: 2fr 1fr
  .advice
    &-slider
      grid-column: span 2
      max-width: 100%
    &-big
      max-height: 100%
      grid-row: span 2
      grid-column: 1
      &::after
        bottom: 35px
  .footer
    &-menu
      &__logo
        margin-right: 0
    &-about
      &__text
        width: 65%
  .preview
    &-wrapper
      padding-right: 80px
    &__title
      font-size: 50px
      line-height: 60px
  .content
    &-author
      right: 0
    &__card
      right: 0
      top: 2000px
  .recommendations
    &-wrapper
      flex-wrap: wrap
      max-width: calc(100%+20px)
      margin: -10px
  .recommendation
    margin: 10px
    flex-grow: 1
    max-width: calc(50%-20px)
    max-width: 45%
    width: calc(50%-20px)
    width: 45%
  .comments
    &-wrapper
      padding-right: 93px
@media (max-width: 990px)
  .container
    max-width: 800px
  .logo
    max-width: 110px
  .menu
    width: 55%
  .main
    &-article
      grid-column: span 2
      padding-bottom: 55px
      padding-right: 155px
      &__author
        margin-bottom: 55px
      &__title
        margin-bottom: 35px
    &__recommendations
      grid-row: 2
      grid-column: span 2
  .recommendations
    &-list
      display: flex
      &__item
        border-top: none
        padding: 17px
        flex-basis: 0
        flex-grow: 1
        &:not(&:last-child)
          border-right: $pipe
  .article
    padding-left: 12px
    padding-right: 12px
    &-big
      &__text
        max-width: 267px
    &-tags
      &__item
        margin-right: 7px
  .research
    &-wrapper
      max-width: 75%
    &__title
      font-size: 28px
  .footer
    &__list
      width: 33.3%
      flex-shrink: 0
    &-information
      flex-wrap: wrap
    &-menu
      flex-wrap: wrap
      &__list
        margin-top: 15px
        flex-basis: 1
        order: 1
        width: 100%
  .modal
    &__dialog
      padding-left: 66px
      padding-right: 66px
      &__form
        left: 66px
        right: 66px
  .preview
    &-wrapper
      padding-right: 40px
    &-menu
      right: 15px
    &__title
      font-size: 48px
      line-height: 58px
  .content
    &-wrapper
      padding-top: 171px
      padding-left: 97px
    &-article
      &__text, &__title
        max-width: 100%
    &__sharing
      max-width: 80%
    &-blockquote
      &__text
        max-width: 100%
    &-gallery
      margin-right: 0
    &__card
      margin-top: 40px
      position: static
  .card
    width: 520px
    &-container
      display: flex
      justify-content: space-between
      flex-wrap: wrap
    &-title
      &__main
        flex-basis: 100%
    &__image
      width: 40%
      margin-bottom: 0
    &-content
      width: 55%
  .comments
    &-wrapper
      padding-left: 0
      padding-right: 0
@media (max-width: 820px)
  .container
    max-width: 680px
  .navbar
    &-container
      flex-wrap: wrap
    &__button
      width: 157px
  .logo
    max-width: 110px
  .menu
    width: 55%
  .articles
    &-useful
      padding: 0 26px
      &__item
        margin-bottom: 17px
    &-list
      grid-gap: 17px
  .article
    &-author
      &__avatar
        width: 30px
        height: 30px
    &-big
      &__content
        padding-right: 50px
        padding-bottom: 20px
      &__text
        max-width: 206px
        margin-right: 0
  .research
    &-wrapper
      max-width: 75%
    &__title
      font-size: 28px
      line-height: 38px
  .news
    &-actuals
      &__item
        width: 45%
        &--desktop-hidden
          display: flex
        &--tablet-hidden
          display: none
  .footer
    &-about
      flex-wrap: wrap
      &__text
        max-width: 100%
        flex-basis: 100%
        margin-bottom: 15px
  .modal
    &__dialog
      width: 60%
  .preview
    &-wrapper
      padding-right: 15px
      padding-left: 57px
    &__title
      font-size: 46px
      line-height: 58px
  .content
    &-wrapper
      padding-left: 15px
      padding-right: 0
    &-gallery
      margin-left: 0
      margin-right: 0
      &__bottom
        flex-direction: column
      &__description
        margin: 13px 15px
      &__author
        width: 100%
        border-top: $pipe
        border-left: none
        padding-left: 15px
        padding-right: 15px
    &-slider
      &__button
        width: 45px
        height: 45px
@media (max-width: 720px)
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__button
      width: 261px
      margin-right: 47px
    &-menu
      position: fixed
      top: 70px
      left: 0
      right: 0
      bottom: 0
      flex-direction: column
      z-index: 99
      background-color: $dark
      display: none
      text-align: center
      &--visible
        display: block
        overflow: scroll
        &::-webkit-scrollbar
          width: 0
      &__item
        margin-top: 15px
  .menu
    width: 16px
    order: 1
    padding: 0
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $dark
      &--light
        background-color: $light
      &__line
        width: 100%
        height: 1px
        background-color: $light
        &--light
          background-color: $dark
  .main
    padding-top: 60px
    &-article
      padding-right: 55px
      &__title
        font-size: 36px
  .recomendations
    &-list
      &__item
        padding: 10px
  .articles
    &-useful
      &__item
        min-width: 200px
        flex-basis: 50%
    &-list
      grid-template-columns: repeat(2,1fr)
      grid-gap: 30px
  .article
    padding-left: 25px
    padding-right: 15px
    &__text
      &--big
        max-width: 60%
    &-big
      &__content
        margin-bottom: 35px
      &__image
        left: 56%
      &__text
        max-width: 310px
    &-design
      grid-row: 3 4
      padding-right: 35px
    &-download
      grid-row: 5
    &-tags
      grid-column: 2
    &-socials
      grid-column: 2
      flex-direction: column
  .advices
    &-wrapper
      grid-template-columns: 1fr 1fr
  .advice
    &-slider
      &__title
        font-size: 36px
    &-big
      grid-column: span 2
      &__title, &__text
        max-width: 50%
  .footer
    &-subscription
      &__title
        font-size: 36px
  .preview
    padding-top: 122px
    &-wrapper
      padding-left: 0
    &__flag
      left: 0
      top: 0
    &__tag
      margin-top: 15px
      margin-left: 45px
@media (max-width: 660px)
  .recommendations
    &-list
      flex-direction: column
      &__item
        padding-left: 26px
        padding-right: 26px
        border-top: $pipe
        &:not(&:last-child)
          border-right: none
  .article
    &-big
      &__content
        margin-bottom: 20px
      &__text
        max-width: 280px
  .modal
    &__dialog
      width: 70%
  .card
    width: 100%

@media (max-width: 576px)
  .container
    width: 87%
  .navbar
    &-menu
      &__item
        &--mobile-visible
          display: block
    &__button
      &--mobile-hidden
        display: none
  .main
    &-article
      &__title
        font-size: 30px
  .articles
    &-useful
      &__item
        min-width: 300px
        border-right: none
        padding-left: 0
        padding-right: 0
        &:not(&:first-child)
          border-top: 1px solid #E5E5E5
          padding-top: 25px
    &-list
      grid-template-columns: 1fr
      grid-gap: 30px 0
  .article
    grid-column: 1
    &-author
      &__about
        max-width: 42%
    &__text
      max-width: 100%
      &--big
        max-width: 60%
    &--move
      grid-row: 6
    &-big
      grid-row: span 2
      &__text
        max-width: 45%
    &-design
      grid-row: 3 4
    &-download
      grid-row: 5
    &-tags
      &__list
        min-height: 145px
  .research
    &__title
      font-size: 24px
      line-height: 34px
  .news
    &-item
      flex-direction: column
      &__image
        width: 100%
        margin-bottom: 25px
    &-actuals
      &__item
        width: 100%
        &--desktop-hidden
          display: flex
        &--tablet-hidden
          display: flex
        &--mobile-hidden
          display: none
  .advices
    &-wrapper
      grid-template-columns: 1fr
  .advice
    &-slider
      grid-column: 1
      &__title
        font-size: 30px
        line-height: 40px
      &__item
        padding-left: 35px
        padding-right: 35px
    &-big
      &::after
        right: 15px
      &__text
        width: 45%
  .footer
    &__list
      width: 50%
    &-subscription
      &__title
        font-size: 30px
        line-height: 40px
      &__form
        display: flex
        flex-wrap: wrap
        justify-content: center
      &__input
        flex-basis: 80%
        margin-right: 0
      &__label
        margin: 0
        padding: 0
        text-align: right
        flex-basis: 80%
      &__button
        margin-top: 15px
        order: 1
    &-menu
      &__list
        flex-wrap: wrap
      &__item
        margin-right: 10px
  .modal
    &__dialog
      width: 80%
  .preview
    &-wrapper
      padding-top: 35px
    &__flag
      top: 35px
    &-menu
      top: 0
      right: 0
    &__title
      font-size: 40px
      line-height: 50px
    &__text
      max-width: 100%
  .content
    &-wrapper
      padding-top: 200px
    &-author
      top: -100px
      right: 50%
      transform: translateX(50%)
    &__tags
      min-height: 90px
      justify-content: flex-start
      align-content: space-between
      padding-bottom: 20px
  .sharing
    &-container
      justify-content: flex-start
      flex-wrap: wrap
      width: 100%
      grid-gap: 10px
  .recommendations
    &-wrapper
      flex-wrap: wrap
      max-width: 100%
      margin: 0
  .recommendation
    margin: 15px 0 0
    flex-grow: 1
    max-width: 100%
    width: 100%
  .comment
    padding-left: 55px
    &__avatar
      width: 45px
      height: 45px
    &-answer
      padding-left: 150px
  .feedback
    padding-left: 95px
    &__author
      width: 45px
      height: 45px
      top: 100px
@media (max-width: 485px)
  .main
    &-article
      padding: 35px 25px
      &__title
        font-size: 24px
        line-height: 30px
  .articles
    &-useful
      &__item
        min-width: 200px
  .article
    &__text
      &--big
        max-width: 85%
        margin-bottom: 35px
    &-author
      &__about
        max-width: 50%
    &-big
      grid-row: span 3
      &__content
        padding: 220px 10px 0 0
        margin-bottom: 15px
      &__title
        width: 75%
        font-size: 22px
        line-height: 26px
        margin-top: 35px
        margin-bottom: 15px
      &__image
        top: 0
        left: 35%
      &__author
        flex-wrap: wrap
        justify-content: space-between
    &-design
      grid-row: 4 5
    &-download
      grid-row: 6
    &--move
      grid-row: 7
  .news
    &-item
      &__title
        font-size: 18px
        line-height: 22px
      &__text
        font-size: 14px
        line-height: 18px
        height: 55px
  .advice
    &-slider
      &__title
        font-size: 24px
        line-height: 30px
      &__item
        padding-left: 20px
        padding-right: 20px
        padding-bottom: 135px
    &-big
      &::after
        bottom: 7%
        right: -20%
      &__image
        width: 75%
        object-fit: cover
      &__title
        max-width: 65%
      &__text
        width: 65%
  .footer
    &__list
      width: 100%
    &-menu
      &__item
        margin-right: 30px
    &-subscription
      &__title
        font-size: 24px
        line-height: 30px
  .modal
    &__dialog
      padding-left: 22px
      padding-right: 22px
      &__form
        left: 22px
        right: 22px
    &__button
      width: 80%
      margin: 15px auto 10px
    &__info
      margin-left:
  .preview
    &-menu
      width: 100%
    &__title
      font-size: 30px
      line-height: 40px
    &__text
      font-size: 14px
      line-height: 20px
  .content
    &-article
      &__title
        font-size: 22px
        line-height: 28px
      &__text
        font-size: 14px
        line-height: 24px
    &-blockquote
      &__title
  .card
    &-container
      flex-direction: column
    &-content
      width: 90%
    &__image
      width: 80%
      margin-bottom: 15px
  .comments
    &-title
      font-size: 30px
      line-height: 40px
  .comment
    &-info
      flex-wrap: wrap
    &__author
      flex-basis: 100%
    &__text
      font-size: 14px
      line-height: 24px
    &-form
      &__message
        &::after, &::before
          display: none
  .feedback
    padding-left: 30px
    &__author
      display: none
@media (max-width: 420px)
  .article
    &__title, &__text
      &--big
        width: 100%
        margin-bottom: 20px
    &-author
      &__about
        max-width: 70%
    &-big
      &__content
        padding-top: 200px
      &__image
        left: 20%
      &__text
        order: 1
        max-width: 100%
    &-tags
      &__list
        min-height: 210px
  .advice
    &-big
      &::after
        right: -50%
      &__image
        width: 45%
      &__title
        max-width: 85%
      &__text
        width: 85%
