*
  box-sizing: border-box
body
  background-color: #E5E5E5
img
  max-width: 100%
.container
  max-width: 1140px
  margin: auto
.button
  cursor: pointer
  border: none
  background-color: $blue
  border-radius: 20px
  color: $light
  padding: 10px 20px
  &__icon
    margin-left: 5px
.avatar
  border-radius: 50%
  object-fit: cover
.tag
  letter-spacing: 0.5px
  text-transform: uppercase
  font-family: $lato
  font-style: normal
  font-weight: 900
  font-size: 12px
  line-height: 15px
  &--opinion
    color: $bluegreen
  &--hot
    color: $red
  &--news
    color: $blue
  &--collection
    color: $purple
  &--design
    color: $orange
  &--popular
    color: $green
  &--javacsript
    color: $greyblue
  &--pink
    color: $pink
.date
  font-family: $lato
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: #939699
.counter
  display: flex
  align-items: center
  color: #BCBFC2
  &__inc
    margin-left: 5px
    font-family: $lato
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
.info
  display: flex
  justify-content: space-between
  align-items: center
.socials
  display: flex
  justify-content: space-between
  &__link
    border-radius: 50%
    background-repeat: no-repeat
    background-position: center
    &--facebook
      background-color: #4267B2
      background-image: url(../img/icons/Facebook.png)
    &--twitter
      background-color: #1DA1F2
      background-image: url(../img/icons/Twitter.png)
    &--youtube
      background-color: #FF0000
      background-image: url(../img/icons/Youtube.png)
.label
  background-color: #3DC47E
  border-radius: 3px
  color: $light
  font-family: $lato
  font-style: normal
  font-weight: 400
  font-size: 12px
  line-height: 15px
  padding: 6px 12px 5px
