*
  box-sizing: border-box
body
  background-color: #E5E5E5
img
  max-width: 100%
.container
  max-width: 1140px
  margin: auto
.button
  cursor: pointer
  border: none
  background-color: $blue
  border-radius: 20px
  color: $light
  font-family: $lato-bold
  font-style: normal
  font-weight: 900
  font-size: 14px
  line-height: 20px
  padding: 10px 20px
  text-decoration: none
  &__icon
    margin-left: 5px
.avatar
  border-radius: 50%
  object-fit: cover
.tag
  letter-spacing: 0.5px
  text-transform: uppercase
  font-family: $lato
  font-style: normal
  font-weight: 900
  font-size: 12px
  line-height: 15px
  &--opinion
    color: $bluegreen
  &--hot
    color: $red
  &--news
    color: $blue
  &--collection
    color: $purple
  &--design
    color: $orange
  &--popular
    color: $green
  &--javacsript
    color: $greyblue
  &--pink
    color: $pink
.tagblock
  display: flex
  flex-wrap: wrap
  padding: 0
  &__item
    list-style-type: none
    margin-right: 10px
  &__link
    display: inline-block
    border: $pipe
    padding: 5px 16px 3px 14px
    border-radius: 5px
    font-family: $lato
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    text-decoration: none
    color: $dark
.date
  font-family: $lato
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: #939699
.counter
  display: flex
  align-items: center
  color: #939699
  opacity: 1
  &__inc
    margin-left: 5px
    font-family: $lato
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
    opacity: inherit
    &--positive
      margin-left: 10px
      margin-right: 10px
      color: $green
    &--negative
      color: $red
      margin-left: 10px
      margin-right: 10px
    &--empty
      margin-left: 10px
      margin-right: 10px
  &__button
    border: none
    background-color: transparent
    padding: 0
    cursor: pointer
.line
  margin: 0 -25px
  border-top: $pipe
.info
  display: flex
  justify-content: space-between
  align-items: center
  &--secondary
    justify-content: flex-start
  &__counter
    &--secondary
      margin-right: 10px
.socials
  display: flex
  justify-content: space-between
  overflow: hidden
  &__link
    border-radius: 50%
    background-repeat: no-repeat
    background-position: center
    &--facebook
      background-color: #4267B2
      background-image: url(../img/icons/Facebook.png)
    &--twitter
      background-color: #1DA1F2
      background-image: url(../img/icons/Twitter.png)
    &--youtube
      background-color: #FF0000
      background-image: url(../img/icons/YouTube.png)
    &--instagram
      background-color: #262626
      background-image: url(../img/icons/Instagram.png)
.label
  background-color: #3DC47E
  border-radius: 3px
  color: $light
  font-family: $lato
  font-style: normal
  font-weight: 400
  font-size: 12px
  line-height: 15px
  padding: 6px 12px 5px
.input
  background-color: #ffffff
  border-radius: 5px
  border: $pipe
  padding: 0 15px
  height: 40px
  color: #939699
  font-family: $lato
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 20px
.message
  width: 100%
  border-radius: 5px
  border: $pipe
  padding: 10px 15px
  color: #939699
  font-family: $lato
  font-style: normal
  font-weight: 400
  font-size: 12px
  line-height: 15px
.error
  color: $red
.arrow
  cursor: pointer
  border: none
.scrollup
  position: fixed
  width: 60px
  height: 60px
  cursor: pointer
  bottom: 25px
  right: 2vw
  transform: rotate(-90deg)
  background-color: $text-color
  border-radius: 50%
  opacity: 0.7
  &__icon
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
