.articles
  padding-top: 30px
  padding-bottom: 60px
  &-useful
    display: flex
    margin: 0
    padding: 30px 0 35px
    background-color: $dark
    border-radius: 10px
    overflow: hidden
    &__item
      display: flex
      align-items: center
      flex-grow: 1
      flex-basis: 0
      padding: 0 25px
      border-right: 1px solid #E5E5E5
      &:last-child
        border-right: none
    &__link
      font-family: $lato
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
      color: $light
      text-decoration: none
    &__image
      margin-left: 17px
      width: 65px
      height: 65px
