.comments
  padding-top: 90px
  padding-bottom: 30px
  background-color: $light
  &-wrapper
    padding-left: 97px
    padding-right: 293px
  &-header
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
  &-title
    font-family: $roboto
    font-style: normal
    font-weight: 700
    font-size: 40px
    line-height: 50px
    color: $dark
    margin: 0
    &__counter
      margin-left: 10px
      font-family: $lato
      font-weight: 400
      color: #939699
  &-button
    display: flex
    justify-content: center
    align-items: center
    border: $pipe
    font-family: $lato
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    color: $dark
    text-decoration: none
    background-color: $light
    width: 100%
    &--short
      width: 228px
      padding: 10px 20px
      border-radius: 20px
    &--load
      margin-top: 8px
      padding: 14px 0 14px 24px
      border-radius: 22px
    &__icon
      margin-left: 0
      margin-right: 7px
      &--short
        margin-right: 10px
  &-block
    padding-bottom: 60px
  &-list
    margin: 0
    padding: 29px 0 0
    list-style-type: none
    &__answer
      margin-top: -2px
      margin-left: -90px
      margin-right: -40px
.comment
  position: relative
  padding: 20px 40px 20px 90px
  border-top: $pipe
  &--negative
    padding-bottom: 28px
  &__avatar
    position: absolute
    width: 75px
    height: 75px
    left: 0px
    top: 20px
  &-info
    display: flex
    align-items: center
  &__author
    font-family: $roboto
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 25px
    color: $dark
    margin: 0 10px 0 0
  &__text
    margin-top: 10px
    margin-bottom: 12px
    font-family: $lato
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 30px
    color: $text-color
  &__counter
    margin-right: 15px
    color: $dark
  &-answer
    padding-left: 180px
    padding-right: 0
    padding-bottom: 8px
    &__avatar
      left: 90px
  &-form
    &__message
      position: relative
      &::before
        content: ''
        position: absolute
        top: 27px
        left: -20px
        border: 10px solid transparent
        border-right: 10px solid #D9DADB
      &::after
        content: ''
        position: absolute
        top: 27px
        left: -20px
        border: 10px solid transparent
        border-right: 10px solid #D9DADB
      &::after
        border-right: 10px solid white
        left: -19px
.feedback
  position: relative
  padding: 14px 40px 36px 126px
  background-color: #F5F5F5
  border-radius: 10px
  &__title
    font-family: $roboto
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 25px
    color: $dark
    margin-bottom: 15px
  &__author
    position: absolute
    top: 70px
    left: 30px
  &__message
    height: 130px
    margin-bottom: 10px
    resize: none
