.content
    padding: 45px 0 90px
    background-color: $light
    &-wrapper
        position: relative
        padding-left: 95px
    &-article
        &__text
            margin-bottom: 30px
            font-family: $lato
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 30px
            color: $text-color
            max-width: 59%
        &__letter
            font-family: $lato
            font-size: 100px
            font-weight: 900
            line-height: 75px
            color: $blue
            float: left
            margin-top: 6px
            margin-left: -5px
            margin-right: 11px
        &__title
            margin: 45px 0 30px
            font-family: $roboto
            font-style: normal
            font-weight: 700
            font-size: 25px
            line-height: 30px
            color: $dark
            max-width: 58%
    &-blockquote
        position: relative
        z-index: 5
        &__text
            margin: 80px 0 45px
            font-family: $roboto
            font-style: normal
            font-weight: 700
            font-size: 25px
            line-height: 30px
            color: $dark
            max-width: 58%
        &__image
            position: absolute
            top: -20px
            left: -20px
            width: 70px
            height: 70px
            z-index: -1
            opacity: 0.75
    &__tags
        margin-top: 44px
        padding-bottom: 43px
    &__sharing
        margin-left: 1px
        max-width: 66%
        border-top: $pipe
    &-gallery
        margin-left: -97px
        margin-top: 60px
        margin-bottom: 45px
        max-width: 1140px
        border-radius: 10px
        overflow: hidden
        &__bottom
            display: flex
            justify-content: space-between
            align-content: center
            border: $pipe
            border-top: none
            border-bottom-left-radius: 10px
            border-bottom-right-radius: 10px
            margin-top: -5px
            overflow: hidden
        &__description
            font-family: $lato
            font-style: normal
            font-weight: 400
            font-size: 14px
            line-height: 20px
            color: $dark
            margin: 25px 35px
        &__author
            width: 262px
            padding: 12px 30px 13px 30px
            border-left: $pipe
        &__name
            color: $text-color
        &__profession
            color: #939699
    &-slider
        position: relative
        &__button
            position: absolute
            top: 50%
            transform: translateY(-50%)
            z-index: 99
            border: none
            background-color: transparent
            background-repeat: no-repeat
            background-position: center
            width: 60px
            height: 60px
            &--next
                right: 35px
                background-image: url('../img/icons/slider-arrow-next.png')
                background-size: cover
            &--prev
                left: 35px
                background-image: url('../img/icons/slider-arrow-prev.png')
                background-size: cover
    &-slide
        object-fit: cover
    &-author
        display: flex
        flex-direction: column
        justify-content: space-between
        align-content: center
        position: absolute
        right: 99px
        top: -161px
        width: 263px
        height: 296px
        border: $pipe
        border-radius: 10px
        background-color: $light
        padding: 35px 25px 0
        &__author
            flex-direction: column
            justify-content: space-between
            min-height: 210px
            padding-bottom: 20px
        &__avatar
            width: 90px
            height: 90px
            margin: 0
        &__text
            text-align: center
        &__name
            margin-bottom: 5px
            font-family: $roboto
            font-style: normal
            font-weight: 700
            font-size: 20px
            line-height: 25px
            color: $dark
        &__profession
            font-size: 14px
            line-height: 20px
            color: $text-color
        &__bottom
            padding-top: 15px
            padding-bottom: 15px
            text-align: center
        &__works, &__link
            font-family: $lato
            font-style: normal
            font-weight: 900
            font-size: 14px
            line-height: 20px
            color: $dark
            text-decoration: none
    &__card
        position: absolute
        right: 98px
        top: 1690px
.sharing
    padding-top: 30px
    &__title
        margin-top: 0
        margin-bottom: 25px
        font-family: $roboto
        font-style: normal
        font-weight: 700
        font-size: 25px
        line-height: 30px
        color: $dark
    &-container
        display: flex
        justify-content: space-between
        width: 420px
        padding-left: 3px
    &__button
        display: flex
        align-content: center
        justify-content: space-between
        min-width: 131px
    &__text
        &--like
            color: #FFC4C9
        &--facebook
            color: #BBC6FF
        &--twitter
            color: #C5E4FC
.card
    width: 263px
    &-title
        font-family: $roboto
        font-style: normal
        font-weight: 700
        line-height: 25px
        color: $dark
        &--main
            font-size: 20px
            margin-top: 0
            margin-bottom: 20px
        &--subtitle
            font-size: 16px
            margin: 0
            text-decoration: none
    &__image
        margin-bottom: 12px
        border-radius: 10px
        object-fit: cover
    &__content
        margin-top: 5px
        margin-bottom: 20px
        font-family: $lato
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 20px
        color: $text-color
