.navbar
  background-color: $dark
  &-container
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 15px
    padding-bottom: 13px
  &-menu
    list-style-type: none
    margin: 0
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0
    &__item
      &--mobile-visible
        display: none
    &__link
      font-family: $lato-bold
      color: $light
      text-decoration: none
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
  &__button
    width: 261px
    font-family: $lato
    color: $light
    text-transform: uppercase
    background-color: #656B70
    border-radius: 10px
    padding-top: 9px
    padding-bottom: 10px
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
.menu
  width: 47.3%
  &-button
    display: none
