.modal
  &__overlay
    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: rgba(40, 47, 54, 0.8)
    z-index: 100
    visibility: hidden
    opacity: 0
    transition: opacity 0.2s
    &--visible
      visibility: visible
      opacity: 1
  &__dialog
    position: fixed
    width: 360px
    min-height: auto
    max-height: 90%
    padding: 30px 35px 0 35px
    border-bottom: 40px solid $light
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: $light
    color: $dark
    border-radius: 10px
    z-index: 101
    visibility: hidden
    opacity: 0
    transition: opacity 0.2s
    overflow-y: auto
    &::-webkit-scrollbar
      width: 0
    &--visible
      visibility: visible
      opacity: 1
  &__title
    margin-top: 0
    margin-bottom: 10px
    font-family: $roboto
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 25px
  &__form
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
  &__close
    position: absolute
    top: 15px
    right: 15px
    text-decoration: none
  &__label
    font-family: $lato-bold
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    margin-top: 15px
  &__input
    width: 100%
    margin-top: 5px
    font-size: 12px
    line-height: 15px
  &__message
    width: 100%
    min-height: 120px
    margin-top: 5px
  &__select
    width: 100%
    margin-top: 5px
  &-checkbox
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-top: 15px
    margin-bottom: 30px
    &__button
      margin: 0 10px 0 0
      background: #4592FF
      border-radius: 3px
      width: 20px
      height: 20px
      border: $pipe
      order: -1
    &__label
      font-family: $lato
      font-style: normal
      font-weight: 400
      font-size: 14px
      line-height: 20px
      color: $text-color

  &__button
    width: 122px
  &__info
    font-weight: 700
    font-size: 12px
    line-height: 15px
    color: $light
    opacity: 0.8
  &-error
    &__select
    &__checkbox
      flex-basis: 100%
      order: 1
